.DS_Store
**/*/credentials.json
docker-compose/logs/**/*
docker-compose/pgdata/**/*
docker-compose/data/**/*
**/*/docker.cred
utils/gcp/docker.cred
vm-docker-compose/pgdata
vm-docker-compose/logs/**/*
vm-docker-compose/logs/**/*
vm-docker-compose/logs/businessgrammar/app.log
vm-docker-compose/logs/discoveryautojoin/app.log
vm-docker-compose/logs/extensions/app.log
vm-docker-compose/logs/documentation/app.log
