.DS_Store
**/*/credentials.json
docker-compose/logs/**/*
docker-compose/pgdata/**/*
docker-compose/data/**/*
**/*/docker.cred
utils/gcp/docker.cred
vm-docker-compose/pgdata
vm-docker-compose/data
vm-docker-compose/logs
vm-docker-compose/nginx/sites/**/*
vm-docker-compose/.env*.*
vm-docker-compose/docker-compose.yml